<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <div class="container">
    <a  *ngIf="this.loggedInUser === null" class="navbar-brand" routerLinkActive="active" routerLink="/login">KEP - Messaging system</a>
    <a  *ngIf="this.loggedInUser !== null" class="navbar-brand">KEP - Messaging system</a>

    <ul class="nav nav-pills">

      <li class="nav-item" *ngIf="this.loggedInUser !== null && this.loggedInUser.username !== 'admin'">
        <a class="nav-link" routerLinkActive="active" routerLink="/messenger">Messenger</a>
      </li>
      <li class="nav-item" *ngIf="this.loggedInUser !== null && this.loggedInUser.username === 'admin'">
        <a class="nav-link" routerLinkActive="active" routerLink="/monitoring">Kafka Monitoring</a>
      </li>
    </ul>
    <ul class="nav nav-pills">
      <li class="nav-item" *ngIf="this.loggedInUser !== null">
         <a class="nav-link" disabled>{{this.loggedInUser.username}}</a>
      </li>
      <li class="nav-item" *ngIf="this.loggedInUser !== null">
      <button class="btn-link btn" routerLinkActive="active" (click)="logout()">Logout</button>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="this.loggedInUser === null" routerLinkActive="active" routerLink="/register">Register</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
