    <div class="chart-container" style="justify-content: center; height: 100%; width: 100%;">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
    <br>
    <br>
    <button class="btn btn-outline-primary" (click)="loadData()">Check lag</button>
<ngx-spinner
  bdColor="rgba(51,51,51,0)"
  size="large"
  color="#17a2b8"
  type="ball-scale-multiple"><b style="color: red">{{this.alertMessage}}</b></ngx-spinner>

