<div class="container-lg">
  <canvas style="align-content: center; background-color: aliceblue;
 border-style: solid; border-color: lightgray; border-radius: 10px;"
          baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
  </canvas>
  <br>
  <button class="btn btn-info" (click)="loadData()">Check lag</button>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0)"
  size="large"
  color="#17a2b8"
  type="ball-scale-multiple"><b style="color: red">{{this.alertMessage}}</b></ngx-spinner>

